body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 400px;
}

.box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin to create space between box and security level */
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

#password {
  width: calc(100% - 0px); /* Ensure password input covers full width */
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

#password:focus {
  border-color: #0056b3; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow on focus */
}

#copyButton {
  position: absolute;
  top: 39%; /* Position the copy button vertically */
  right: 10px;
  transform: translateY(-50%); /* Adjust position vertically */
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#copyButton img {
  width: 20px;
  height: auto;
}

#copyButton:hover img {
  background-color: transparent;
  border: none;
  outline: none;
}

.options {
  margin-bottom: 30px;
}

.options label {
  display: block;
  margin-bottom: 10px; /* Adjust space between labels and checkboxes */
  position: relative; /* Set relative position */
  top: 5px; /* Adjust position upwards */
}

.options label[for="length"] {
  display: block;
  margin-bottom: 5px; /* Reduce space between label and input */
  position: relative; /* Set relative position */
  top: 20px; /* Adjust position upwards */
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust space between checkboxes */
}

.checkbox-label {
  margin-left: 10px;
  margin-bottom: 10px; /* Add bottom margin */
}

.checkbox-input {
  appearance: checkbox; /* Add checkbox appearance */
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 5px;
}

.checkbox-input:checked {
  border-color: #0056b3; /* Change border color when checkbox is checked */
}

.checkbox-input:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow on focus */
}

.buttons {
  text-align: center;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

#length {
  width: 87%; /* Adjust to cover full width of box */
  padding: 20px;
}

#lengthOutput {
  display: block;
  text-align: center; /* Center text */
  position: relative; /* Set relative position */
  top: -10px; /* Adjust position upwards */
  width: 100%; /* Set width to 100% */
}

.security-level {
  text-align: center;
}

#securityLevel {
  font-weight: bold;
}

.low-security {
  color: red;
}

.medium-security {
  color: yellow;
}

.high-security {
  color: green;
}
