@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 245, 247, 250;
  --background-end-rgb: 255, 255, 255;
  --border-color: #e5e7eb;
  --box-bg: #ffffff;
  --input-bg: #f1f5f9;
  --button-bg: #2563eb;
  --button-hover-bg: #1d4ed8;
  --neutral-dark: #1c1c1c;
  --neutral-light: #f9fafb;
  --primary-blue: #2563eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 28, 28, 28;
    --background-end-rgb: 28, 28, 28;
    --border-color: #374151;
    --box-bg: #1e1e1e;
    --input-bg: #2c2c2c;
    --button-bg: #3b82f6;
    --button-hover-bg: #60a5fa;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.button {
  background-color: var(--button-bg);
  color: white;
}

.button:hover {
  background-color: var(--button-hover-bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="range"] {
  accent-color: rgb(var(--primary-blue));
}
